.cottage-cont {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  direction: rtl;
}

.cottage-list-container {
  width: 100%;
  max-width: 1200px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.cottage-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  direction: rtl;
}

.cottage-table th, .cottage-table td {

  padding: 15px;
  text-align: center;
}

.cottage-table th {
  background-color: #ffffff;
  font-weight: bold;
}
.cottage-table thead tr {
border-top: 1px solid #a4a4a4;
}


.cottage-table tr:nth-child(odd) {
  background-color: #efefef;
}

.cottage-table tr:nth-child(even) {
  background-color: #ffffff;
}

.cottage-table tr:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

.no-data {
  text-align: center;
  color: #777;
  margin-top: 20px;
  font-size: 18px;
}
.filter-container {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;

}
.rmdp-clear-button {
  color: red;
  font-size: 12px;
  cursor: pointer;
}


.search-input {
  border: 1px solid #ccc;
  border-radius: 4px;
}
.filter-container input {
  padding: 10px;
  margin-bottom: 30px;
  width: 100%;

}

.filter-select {
 width: 273px;
 padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 30px;
}
.filter-react-select {
  width: 273px;
  padding: 10px;
   margin-bottom: 30px;
 }

.search-input:focus,
.filter-select:focus {
  outline: none;
  border-color: #007bff;
}
.delete-button {
  background-color: #e74c3c; /* Red color */
  color: white;
  border: none;
  padding: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.delete-button:disabled {
  background-color: #bdc3c7;
  cursor: not-allowed;
}
.c-price-input{
  padding: 10px;
  width: auto;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 30px;
  width: 250px;
}
