/* Home.css */

/* Overall Dashboard */
.dashboard {
    font-family: 'Vazirmatn', sans-serif;
    background-color: #f9fafb; /* Light background */
    color: #374151;           /* Dark text */
    min-height: 100vh;
    box-sizing: border-box;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
  }
  
  /* Header Section */
  .dashboard-header {
    text-align: center;
    margin-bottom: 32px;
  }
  
  .dashboard-header h1 {
    font-size: 2rem;
    color: #111827; /* Darker text */
  }
  
  .dashboard-header p {
    color: #6b7280; /* Medium gray */
  }
  
  /* Cards Container */
  .cards-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Wrap cards on smaller screens */
    gap: 16px;
  }
  
  /* Static Cards */
  .static-card {
    background-color: #ffffff;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    padding: 20px;
    max-width: 900px; /* Fixed width */
    width: 100%;
    flex: 2; /* Equal spacing in flex container */
  }
  
  .static-card h2 {
    font-size: 1.25rem;
    margin-bottom: 8px;
    color: #1f2937; /* Slightly darker for contrast */
  }
  .chart-container {
    max-width: 600px;
    min-width:300px;
    min-height: 200px;
    max-height: 400px;
    margin: 20px auto;
  }
  .static-card p {
    font-size: 1rem;
    color: #4b5563; /* Subtle gray */
    margin-bottom: 16px;
  }
  
  .static-card ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .static-card ul li {
    font-size: 0.95rem;
    color: #4b5563;
    margin-bottom: 8px;
  }
  
  /* Year Selector */
  .card-year-selector {
    margin-bottom: 16px;
    display: flex;
    align-items: start;
    flex-direction: row;
    gap: 8px;
  }
  
  .card-year-selector label {
    font-size: 0.9rem;
    color: #374151;
  }
  
  .card-year-selector select {
    padding: 8px 12px;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    font-size: 1rem;
    color: #374151;
    background-color: #ffffff;
  }
  
  /* Buttons Inside Cards */
  .action-btn {
    margin-top: 12px;
    padding: 8px 12px;
    border-radius: 6px;
    background-color: #3b82f6; /* Blue button */
    color: #ffffff;
    font-size: 0.875rem;
    border: none;
    cursor: pointer;
    transition: background 0.2s ease;
  }
  
  .action-btn:hover {
    background-color: #2563eb;
  }
  @media (min-width: 768px) {
    .chart-container {
      max-width: auto;
      min-width:600px;
      height: 400px;
      margin: 20px auto;
    }
  }